.charmonman { font-family: 'Charmonman', cursive; } /* 1 - likes this for text, rather than title */

.alex-brush { font-family: 'Alex Brush', cursive; } /* 2 */

.allura { font-family: 'Allura', cursive; } /* 3 */

.bilbo-swash-caps { font-family: 'Bilbo Swash Caps', cursive; } /* 6 */

.great-vibes { font-family: 'Great Vibes', cursive; } /* 10 */

.life-savers { font-family: 'Life Savers', cursive; } /* 14 */

.qwigley { font-family: 'Qwigley', cursive; } /* 18 */

.tangerine { font-family: 'Tangerine', cursive; } /* 22 */

.monsterrat { font-family: 'Montserrat', sans-serif; } /* 23 */