.info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info-item {
    width: 100%;
    max-width: 800px;
   /* border: 1px solid rgb(133, 133, 133);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding-top: 30px;
    padding-bottom: 40px;
}
.info-item:nth-child(odd) {
   flex-direction: row-reverse;
   flex-wrap: wrap;
}

.info-image {
    width: 50%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.info-image img {
    border-radius: 16px;
}

.info-text-container {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info-title {
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
}

.info-text {
    width: 100%;
    font-size: 1.1em;
}