/* original values are designed for small mobile phones (320px + ) */

/* --------------- 480px (bigger than portrait phone) --------------- */
@media only screen and (min-width: 480px) {
	body { font-size: 15px;	}

}

/* --------------- 620px (bigger than phone) --------------- */
@media only screen and (min-width: 620px) {	
}

/* --------------- 768px (Tablets) --------------- */
@media only screen and (min-width: 768px) {
	body { font-size: 16px;	}
}

/* --------------- 992px (laptops) --------------- */
@media only screen and (min-width: 992px) {
	body { font-size: 17px;	}

	.brand-image { width: 120px; }
	.brand-text { font-size: 1.6em; }
	

}
@media only screen and (min-width: 992px)  and (orientation: landscape) {
}
@media only screen and (min-width: 992px)  and (orientation: portrait) {
}





/* --------------- 1312px (large desktops) --------------- */
@media only screen and (min-width: 1312px) {
	body { font-size: 18px;	}
	

}
@media only screen and (min-width: 1312px) and (orientation: landscape) {
}
@media only screen and (min-width: 1312px) and (orientation: portrait) {
}


/* --------------- 1600px (extra large desktops) --------------- */
@media only screen and (min-width: 1600px) {
	
}