/* original values are designed for small mobile phones (320px + ) */

/* --------------- 480px (bigger than portrait phone) --------------- */
@media only screen and (min-width: 480px) {
	body { font-size: 15px;	}

}


/* --------------- 620px (bigger than phone) --------------- */
@media only screen and (min-width: 620px) {	
}


/* --------------- 768px (Tablets) --------------- */
@media only screen and (min-width: 768px) {
	body { font-size: 16px;	}
	.carousel-inner img { width: 100%; height: 100%; }

	/* nav */
	.nav-overlay { display: none; }
	.navbar { background-color: #1b1b1b; position: relative; }
	.navbar-brand {	display: none; }
	.carousel-overlay {	display: flex; }




}


/* --------------- 992px (laptops) --------------- */
@media only screen and (min-width: 992px) {
	body { font-size: 17px;	}

	/* services */
	
}


/* --------------- 1312px (large desktops) --------------- */
@media only screen and (min-width: 1312px) {
	body { font-size: 18px;	}
}


/* --------------- 1600px (extra large desktops) --------------- */
@media only screen and (min-width: 1600px) {
}