/* The Overlay (background) */
.nav-overlay {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: -20;
  left: 0;
  top: 0;
  background-color: #000000d5; /* fallback background with transparency */
  background-image: url(../media/background/bg4.jpg);
  background-size: cover;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}