.row {
	width: 100%;
}

/*following is creating breakpoint for displaying on desktop*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  padding: 10px;
}

[class*="col-"] { /* For mobile phones: */
  width: 80%;
  margin: auto;
}

.col-2 {
	padding: 0px 50px;
}