.contact-info {
	position: static;
	left: 0px;
	bottom: 0px;
	width: 100%;
	display:  inline-block;
	text-align: center;
	padding: 10px 0px;
}

.contact-info a {
	color: #000000;
	text-decoration:none;
}

.contact-form-btn {
	max
	margin: 20px;
	padding: 10px;
}


/* --- company card --- */
.company-card {
	margin: auto;
	position: relative;
	list-style-type: none;
	max-width: 400px;
}

.company-card-item {
	background: none;
    display: flex;
    padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	position: relative;
	border-style: dotted;
	border-color: grey;
	border-width: 0px 0px 1px 0px;
}

.company-card-icon {
	display: flex;
    height: 2.25rem;
    position: relative;
    vertical-align: middle;
	padding-right: 1.25rem;
    text-align: center;
    width: 3.5rem;
}

.company-card-text {
	font-family: 'Manrope', sans-serif;
	font-size: 0.875rem;
    line-height: 1.7;
    position: static;
	vertical-align: middle;
	margin: auto;
}

.clock-icon {
    line-height: 1;
	display: inline-block;
	background: url(../media/black_clock_icon.png);
	background-size: contain;
	width: 30px;
	height: 30px;
}

.fax-icon {
    line-height: 1;
	display: inline-block;
	background: url(../media/black_fax_icon_small.png);
	background-size: contain;
	width: 30px;
	height: 30px;
}

.phone-icon {
    line-height: 1;
	display: inline-block;
	background: url(../media/black_phone_icon_small.png);
	background-size: contain;
	width: 26px;
	height: 39px;
}

.email-icon {
	margin-top: 8px;
    line-height: 1;
	display: inline-block;
	background: url(../media/black_email_icon_small.png);
	background-size: contain;
	width: 32px;
	height: 21px;
}

.location-icon {
	margin-top: 6px;
    line-height: 1;
	display: inline-block;
	background: url(../media/black_location_icon_small.png);
	background-size: contain;
	width: 25px;
	height: 33px;
}


/* --- copyright and developer credits --- */
footer {
	background-color: #3f3f3f;
	position: static;
	width: 100%;
	bottom: 0px;
	padding: 20px;
	color: white;
	font-size: 0.8em;
}

footer a {
	color: #FFFFFF;
	text-decoration:none;
}