/* original values are designed for small mobile phones */
/* --------------- 600px (breakpoint for services) --------------- */
@media only screen and (min-width: 600px) {
	.column-text {width: 50%;}
}





/* --------------- 768px (Tablets) --------------- */
@media only screen and (min-width: 768px) {
	body {font-size: 14px;}
	.content-container {padding: 0px 80px;}
	
	/* make nav links visible in nav bar */
	.topnav .icon {display: none;}
	.links {
		position: relative;
		max-width: 487px;
		float:right;
		display: flex;
		top: 0px;
		opacity: 1;
	}
	.topnav {width: 280px;}
}





/* --------------- 992px (laptops) --------------- */
@media only screen and (min-width: 992px) {
	body {font-size: 15px;}
	.column-text {width: 60%;}
	#trenching-btn {display: none;}
	#commercial-btn {display: none;}
	#residential-btn {display: none;}
	.closed {
		max-height: 1000px;
		transition: all 0.5s ease;
		will-change: transform;
	  }
	
}

@media only screen and (min-width: 992px)  and (orientation: landscape) {
	.fixedbg {height: 70vh;}
}

@media only screen and (min-width: 992px)  and (orientation: portrait) {
	.fixedbg {height: 50vh;}
}





/* --------------- 1312px (large desktops) --------------- */
@media only screen and (min-width: 1312px) {
	body {font-size: 16px;}
}

@media only screen and (min-width: 1312px) and (orientation: landscape) {
	.fixedbg {height: 75vh;}
}

@media only screen and (min-width: 1312px) and (orientation: portrait) {
	.fixedbg {height: 50vh;}
}