@media only screen and (min-width: 400px) {
	.content-container {
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media only screen and (min-width: 600px) {
	.contact-details {font-size: 16px;}
	.col-2 {
		width: 50%;
		float: left;
	}
	.content-container {
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media only screen and (min-width: 768px) {
    .col-3 {
		width: 33.33%;
		float: left;
	}
	.content-container {
		margin-top: 60vh;
		padding-left: 100px;
		padding-right: 100px;
	}
	.fixedbg {background-position: 0px 50px;}
}

/* phone landscape here? */
@media only screen and (min-width: 768px)  and (orientation: landscape) {
	.content-container {margin-top: 65vh;}
}

@media only screen and (min-width: 768px)  and (orientation: portrait) {
	.topnav a {
		font-size: 18px;
		padding: 14px 20px;
		height: 88px;
		line-height: 60px;
	}
	.logo {
		background-image: url(../media/home_logo_medium.jpg);
		width: 302px;
	}
	#header {padding: 2vw;}
	.content-container {margin-top: 50vh;}
}


@media only screen and (min-width: 992px)  and (orientation: landscape) {
	.content-container {margin-top: 70vh;}
}

@media only screen and (min-width: 992px)  and (orientation: portrait) {
	.content-container {
		margin-top: 50vh;
	}
}

@media only screen and (min-width: 1100px) { 
	.contact-details p {padding-left: 50px;}
	.contact-buttons a {margin-right: 90px;}
}


@media only screen and (min-width: 1200px) {
	.topnav a {
		font-size: 21px;
		padding: 14px 28px;
		height: 101px;
		line-height: 70px;
	}
	.logo {
		background-image: url("../media/home_logo_large.jpg");
		width: 347px;
	}
	#header {padding: 1vw;}
	.column-img {max-width: 68%;}	
	.content-container {margin-top: 80vh;}
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
	.content-container {margin-top: 75vh;}
}

@media only screen and (min-width: 1200px) and (orientation: portrait) {
	.content-container {margin-top: 50vh;}
}



/* max with */

@media only screen and (max-width: 400px) { 
	.fixedbg {background-position: -250px;}
	.subtitle {font-size: 22px;}
	.paragraph {font-size: 15px;}
	.column-header {font-size: 18px;}
}

@media only screen and (max-width: 500px) { 
	.fixedbg {background-position: -130px;}
	.review {padding: 0px 40px;}
}

@media only screen and (max-width: 600px) { 
	.fixedbg {background-position: -100px;}
	.topnav .icon {font-size: 20px;}
	.btn {
		font-size: 15px;
		max-width: 370px;
	}
	.read-more-btn {
		font-size: 15px;
		max-width: 150px;
	}
	.review {padding: 0px 60px;}
}

@media only screen and (max-width: 768px) { 
	.review {padding: 0px 80px;}
}

@media only screen and (max-width: 768px) and (orientation: landscape){ 
	.review {padding: 0px 110px;}
}

@media only screen and (max-width: 860px) { 
	.contact {height: 300px;}
	.contact-details {
		float: none;
		text-align: center;
	}
	.contact-buttons {
		padding-top: 10px;
		padding-bottom: 10px;
		float: none;
	}
	.contact-buttons a {
		max-width: 200px;
		float: none;
		margin: 10px auto;
	}	
}

@media only screen and (max-width: 860px)  and (orientation: landscape){ 
	.content-container {margin-top: 95vh;}
}

@media only screen and (max-width: 870px) { 
	/* hide all nav links, show Hamburger bars*/
    .topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
    	display: block;
	}
	/* responsive class (Added by JS) displays the links vertically instead of horizontally */
    .topnav.responsive {position: relative;}
 	.topnav.responsive a.icon {
   		position: absolute;
		top: 0;
		right: 0;
    }
    .topnav.responsive a {
   		float: none;
   		display: block;
    	text-align: left;
    }
	.topnav div {
		display: none;
		float: left;
	}
	.topnav.responsive div {
		display: block;
		float: none;
		text-align: left;
	}
}

@media only screen and (max-width: 1200px) { 
	.read-more-btn {
		font-size: 15px;
		max-width: 150px;
	}
}